@media screen and (max-width: 600px) {
  .title {
    color: #131318;
    font-size: 1.9rem;
    font-weight: 800;
  }
  .hideonphone {
    display: none;
  }
  .menubtn {
    display: block;
  }
  .booking-container {
    height: 100%;
    margin: 20px;
  }
  .booking-title {
    font-size: 2rem;
    margin-top: 50px;
  }
  .booking-des {
    font-size: 1rem;
    margin: 0 30px;
  }
  .booking-content {
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-bottom: 20px;
  }
  .booking-content input,
  select,
  button {
    width: 95%;
    height: 60px;
    background: #fff;
  }
  .button {
    background: #ff5400;
    width: 95%;
    height: 60px;
  }
  .tour-container {
    flex-direction: column;
    margin: 0 20px;
    gap: 30px;
  }
  .tour-text {
    margin-right: 0px;
  }
  .tour-img img {
    width: 100%;
  }
  .tour-text button {
    width: 174px;
  }
  .destiny {
    margin: 40px 20px;
  }
  .destiny-img {
    display: grid;
    grid-template-areas:
      "mal"
      "indo"
      "sri"
      "na"
      "kash"
      "bd"
      "band";
    gap: 24px;
  }
  .destiny-img div {
    height: 200px;
  }
  .features {
    margin: 40px 20px;
  }
  .features-container {
    grid-template-areas:
      "o"
      "b"
      "r";
  }
  .deals {
    margin: 40px 20px;
  }
  .deals > div {
    height: 500px;
  }
  .bali {
    justify-content: center;
    padding-left: 0px;
    align-items: flex-end;
    padding-bottom: 20px;
  }
  .kyoto {
    justify-content: center;
    padding-right: 0px;
    align-items: flex-end;
    padding-bottom: 20px;
  }
  .santorini {
    justify-content: center;
    padding-left: 0px;
    align-items: flex-end;
    padding-bottom: 20px;
  }
  .card {
    width: 90%;
    height: 70%;
    padding: 20px;
  }
  .card h6,
  p {
    font-size: 0.8rem;
  }
  .card h3 {
    font-size: 1.2rem;
  }
  .card h4 {
    font-size: 1rem;
  }
  .card .button {
    width: 130px;
    height: 40px;
  }
  .preview {
    flex-direction: column;
    margin: 40px 20px;
  }
  .preview-content {
    padding-right: 0px;
    width: 100%;
  }
  .preview-content .button {
    width: 174px;
    height: 52px;
  }
  .mail {
    margin: 40px 20px;
    flex-direction: column;
  }
  .mail-content,
  .mail-img {
    width: 100%;
  }
  .offer {
    width: 214px;
    height: 79px;
  }
  .offer h5 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
  }
  .offer h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
  }
}
