* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
input::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
.title {
  color: #131318;
  font-size: 2.1rem;
  font-weight: 800;
}
.des {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.button {
  border-radius: 8px;
  background: #ff5400;
  width: 150px;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

/* nav section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  max-width: 1400px;
  margin: 0 auto;
  height: 120px;
  padding: 0 20px;
}
.nav-logo {
  display: flex;
  align-items: center;
  width: 60%;
}
.nav-logo img {
  margin-right: 10px;
}
.navbar {
  display: flex;
  gap: 2.7rem;
  list-style: none;
}
.nav-contents li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.1rem;
  font-weight: 400;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: white;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  gap: 2.7rem;
  list-style: none;
  flex-direction: column;
  padding: 40px;
  transition: all 1s ease-in;
}
.sidebar li {
  width: 100%;
}
.menubtn {
  display: none;
}

/* booking section */

.booking-container {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13.png");
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 24px;
}
.booking-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}
.booking-des {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 0 110px;
  text-align: center;
}
.booking-content {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: flex;
  gap: 24px;
}
.booking-content input,
select,
button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
.booking-content input {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 14px;
}
.booking-content select {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 10px;
}

/* tour section */

.tour-container {
  display: flex;
  margin-top: 100px;
  align-items: center;
}
.tour-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 100px;
  /* border: 1px solid black; */
}
.tour-text ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
