* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
input::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
.title {
  color: #131318;
  font-size: 2.1rem;
  font-weight: 800;
}
.des {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.button {
  border-radius: 8px;
  background: #ff5400;
  width: 150px;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  background-color: #424247;
}
.color {
  color: #ff5400;
}

/* nav section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  max-width: 1400px;
  margin: 0 auto;
  height: 120px;
  padding: 0 20px;
}
.nav-logo {
  display: flex;
  align-items: center;
  width: 60%;
}
.nav-logo img {
  margin-right: 10px;
}
.navbar {
  display: flex;
  gap: 2.7rem;
  list-style: none;
}
.nav-contents li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
}
.nav-contents li a:hover {
  background-color: #00000015;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: white;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  gap: 2.7rem;
  list-style: none;
  flex-direction: column;
  padding: 40px;
  transition: all 1s ease-in;
}
.sidebar li {
  width: 100%;
}
.menubtn {
  display: none;
}

/* booking section */

.booking-container {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13.png");
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 24px;
}
.booking-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}
.booking-des {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 0 110px;
  text-align: center;
}
.booking-content {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: flex;
  gap: 24px;
}
.booking-content input,
select,
button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
.booking-content input {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 14px;
}
.booking-content select {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 10px;
}

/* tour section */

.tour-container {
  display: flex;
  margin-top: 100px;
  align-items: center;
}
.tour-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 100px;
  /* border: 1px solid black; */
}
.tour-img {
  background-image: url(../Images/Rectangle\ 4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 70%;
  border-radius: 16px;
}
.tour-text ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* destiny section */

.destiny {
  margin-top: 100px;
}
.destiny .title {
  text-align: center;
}
.destiny .des {
  margin: 24px 0 40px 0;
  text-align: center;
}
.destiny-img {
  display: grid;
  grid-template-areas:
    "mal mal mal mal indo indo indo indo"
    "sri sri na na na na kash kash"
    "bd bd bd band band band band band";
  gap: 24px;
}
/* .destiny-img div {
  transition: all 0.5s ease-in-out;
  background-size: 105%;
}
.destiny-img div:hover {
  background-size: 115%;
} */
.Maldives {
  grid-area: mal;
  background-image: url(../Images/Rectangle\ 5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Indo {
  grid-area: indo;
  background-image: url(../Images/Rectangle\ 8.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Srilanka {
  grid-area: sri;
  background-image: url(../Images/srilanka3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NA {
  grid-area: na;
  background-image: url(../Images/Rectangle\ 7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Kashmir {
  grid-area: kash;
  background-image: url(../Images/Rectangle\ 9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BD {
  grid-area: bd;
  background-image: url(../Images/Rectangle\ 11.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Bandarban {
  grid-area: band;
  background-image: url(../Images/Rectangle\ 10.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.place-name {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 800;
}

/* features section */

.features {
  margin-top: 100px;
}
.features .title {
  text-align: center;
}
.features .des {
  margin: 24px 0 40px 0;
  text-align: center;
}
.features-container {
  display: grid;
  grid-template-areas:
    "o o b b"
    ". r r .";
  gap: 24px;
}
.features-container > div {
  height: 280px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 16px;
}
.features-container > div img {
  width: 3.5rem;
}
.orange {
  grid-area: o;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.blue {
  grid-area: b;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.red {
  grid-area: r;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.features-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.features-des {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

/* deal section */

.deals {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-top: 100px;
}
.deals > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 1rem;
  display: flex;
  width: 100%;
}
.bali {
  background-image: url(../Images/bali.png);
  align-items: center;
  padding-left: 50px;
}
.kyoto {
  background-image: url(../Images/kyoto.jpg);
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}
.santorini {
  background-image: url(../Images/santorini.jpg);
  align-items: center;
  padding-left: 50px;
}
.time-place {
  display: flex;
  gap: 10px;
}
.card {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}
.card h6,
p {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.card h3 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.card h4 {
  color: #ff5400;
  font-size: 1.2rem;
  font-weight: 800;
}

/* preview section */

.preview {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.preview-img video {
  width: 100%;
  border-radius: 16px;
}
.preview-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  padding-right: 50px;
}
.preview ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #131318;
  font-size: 1rem;
  font-weight: 700;
  line-height: 26px;
}

/* mail section */

.mail {
  display: flex;
  gap: 24px;
  margin: 100px 0 100px 0;
}
.mail-img {
  background-image: url(../Images/news.png);
  height: 400px;
  width: 60%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  position: relative;
}
.offer {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5500c5;
  backdrop-filter: blur(2.5px);
  position: absolute;
  bottom: 50px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offer h5 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
.offer h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
.mail-content {
  width: 40%;
  height: 400px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.mail-content input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  width: 100%;
  height: 52px;
  padding-left: 20px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
.mail-content .button {
  width: 100%;
  height: 52px;
}
.mail-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.mail-content hr {
  border: 1px solid #1313181a;
}

/* review section */

.review {
  display: flex;
  gap: 24px;
  margin: 0 0 100px 0;
}
.review-rec {
  width: 30%;
  height: 400px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
  gap: 24px;
}
.user-review {
  width: 70%;
  height: 400px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 100px;
  gap: 24px;
}

/* footer section */

footer {
  width: 100%;
  height: 400px;
  background: rgba(19, 19, 24, 0.05);
  padding: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 16px;
  margin-bottom: 50px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-bottom: 15px;
}
.social-logo {
  display: flex;
  gap: 23px;
  justify-content: center;
  margin-top: 33px;
}
.social-logo i {
  color: #131318;
  font-size: 1.5rem;
}
.footer-title {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
}
footer .des {
  text-align: center;
}
.hr {
  border: 1px solid #1313181a;
  width: 100%;
}
.copyright {
  color: #131318;
  font-size: 1rem;
  font-weight: 300;
}
